.inactive {
background-color: transparent;
}

.active{
  background-color: grey;
}

.MuiButton-root{
  text-transform: none !important;
  line-height: normal !important;
  display: inline-block !important;
  text-align: left !important;
  word-break: break-all !important;
  color: white !important;
}
.dialogButton{
  color: black !important; 
  text-align: center !important; 
}

.dialogRow{
  display: flex;
}

.download{
  color:white
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  width: 600px !important;
  padding-bottom: 10px !important;
}
.css-uhb5lp{
  width: 600px !important;
  padding-bottom: 10px !important;
}


.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addButton{
  justify-content: center !important;

}

.trashButton{
  padding: 0px !important;
}

.proxyRow{
  padding-left: 24px;
  padding-right: 24px;
  word-break: break-all;
}

.navBar{
  background-color: #525864 !important;
  color:white !important;
}

.css-9v99vz-MuiPaper-root-MuiCard-root{
  background-color: #525864 !important;
  color:white !important;
}
.css-10cuv6x {
  background-color: #525864 !important;
  color: white !important;
}
body{
  background-color: black;
}

.urlList{
  background-color: #2c313a;
}

.cm-selected{
  background-color: red;
}

.codeCSS{
  display: block;
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 14px !important;

  text-align: center;
}
.nadpis{
  color:black !important;
  font-weight: 500 !important;
}

.css-j7o63n{
 text-align: center;
}
.MuiCircularProgress-root{
  width: 22px !important;
  height: 22px !important;
}